body {
    text-align: center;
    font-family: Arial;
    margin: 0;
    background-image: url("bg.jpg");
    background-position: left 0 bottom 0px;
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 100vh;
}
h1{
    background: rgb(58 145 216);
    color: #fff;
    padding: 20px;
    font-weight: 100;
}
#countdown {
    font-size: 80px;
    display: none;
}

#gift {
    position: relative;
    width: 200px;
    margin: 30px auto;
    display: none;
    cursor: pointer;
    margin-top: 200px;
    opacity: 0;
    transition: opacity 0.8s ease;
}
#box {
    width: 100%;
}
#lid {
    position: absolute;
    top: -35px;
    left: 0;
    width: 100%;
    transform-origin: top;
    transition: transform 0.6s ease;
}

#gift.open #lid {
    transform: translateY(-80px);
}

#result {
    font-size: 50px;
    display: none;
    margin-top: 20px;
    color: green;
}
#button_wrap{
    margin-top: 200px;
}
#button_wrap .btn{
    margin: 0px 50px;
}
#countdown{
    color: rgb(34, 166, 179);
    margin-top: 200px;
    
   
}
#result{
    font-size: 60px;
    margin-top: 20px;
    color: rgb(67 0 152);
    background: rgb(237 227 255);
    width: 120px;
    height: 80px;
    border-radius: 80px;
    line-height: 80px;
    position: absolute;
    top: -66px;
    left: 40px;
}
.none{
    display: none;
}